/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background:linear-gradient(180deg, rgb(152, 185, 220), rgb(90, 132, 187),rgb(76, 127, 193),rgb(39, 62, 93));
    margin: 0;
    font-family: 'Merriweather', serif;
    
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

header{
    background:rgb(12, 92, 138);
    top:0;
    position: sticky;
}

.navbar{
    top: 0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navtag{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.nav-link{
    transition: 0.3s ease;
}

.navtag li.active:hover{
     cursor:pointer;
    background-color:greenyellow;
}

.navtag li.active{
    cursor:pointer;
   background-color:greenyellow;
}

li{
    list-style-type: none;
    color:white;
    font-size:18pt;
    padding: 0;
    margin:10px;
    text-decoration: none;    
}

/* ---- Layout Rules ---- */

section{
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec2,#sec4{
    background-color: rgb(5, 5, 43);
    color:white;  
}

footer{
    background:black;
    height:200px;
}


/**when changing the size of the browser, toggle navigation menu will appear instead**/

@media(min-width:576px){
  h1{
      font:56pt;
  }
}

/**image and branding for (advertising) landing page**/

.headr{
    height: 700px;
    border:10px;
    margin:10px;
    background-image: url('boAT.jpeg');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin:10px;
    color:white;
    font-size: 33pt;
    display: inline;
   
}

/*Typeography General*/

h1{
    text-align: center;
    font-size: 86pt;
    color:white;

}

h2{
    font-size: 30pt;
}